body {
    margin: 0;
    padding: 0;
    background: rgb(0, 0, 0);
  }
  
  .eyes {
    position: absolute;
    top: 30%;
    transform: translateY(-30%);
    width: 100%;
    text-align: center;
  }
  .eye {
    width: 100px;
    height: 80px;
    background: #fff;
    display: inline-block;
    margin: 40px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
  }
  .ball {
    width: 40px;
    height: 40px;
    background: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-30%, -30%);
    border-radius: 50%;
  }
